<div class="topic">

        <div  id="topicAreaTitle">
            <p> {{ topic.name }} </p>
        </div>


        <div id="topicAreaBody">

            <div id="topicAreaLeft">

                <div id="topicOwnerBox">
                    <div id="topicOwner" class="topicsElements"><p> {{topic.owner}}</p> </div>
                </div>

                <div id="topicDescriptionBox">
                    <p id="topicDescription" class="topicsElements">
                        Hier kommt dann die Beschreibung rein. Die Schriftgroesse sollte anpassbar sein.
                        Ich hoffe, dass die Texte hier nicht allzu lang werden.
                    </p>
                </div>

            </div>

            <div id="topicAreaRight">

                <div id="topicVoteResultsBox" class="topicsElements">
                    <ul id="topicVoteResults" >
                        <li ng-repeat="a in topic.vts"> {{ a }}</li>
                    </ul>
                </div>



                <div id="topicVoteOptionsBox">

                    <div class="voteOption" voteoption-section voteoption='b' ng-repeat="b in topic.voteOptions">

                    </div>
                </div>

            </div>

        </div>

        <div id="topicAreaBottom">


            <comment-arrow ng-click="toggleCommentsSection(topic.idInLiveStream)" >
            </comment-arrow>


            <div id="commentSection" class="commentsSection-{{topic.idInLiveStream}}" >

                <div id="commentsActual">

                    <div class="comment">

                        <div
                                ng-repeat="c in topic.comments"
                                comment-section comment='c'>
                        </div>

                    </div>

                </div>

                <div id="commentsBest">

                    <div class="comment">

                        <div
                                ng-repeat="c in topic.comments"
                                comment-section comment='c'>
                        </div>

                    </div>

                </div>




            </div>
        </div>


</div>