<input id="inputFilterPersonInMessages" type="text" ng-model="typedProfileName" placeholder="Filter by person or content"
       onfocus="this.placeholder = '' "/>

<div id="messageContainer">


    <div  ng-repeat="b in currentProfile.messages  | filter: typedProfileName | orderBy: dateOfSend : true">

        <a id="receiverInMessageBox"
           ui-sref="main.messages"
           ng-click="selectMessageReceiver(b.receiver)">

            {{b.receiver.name}}

        </a>

        <a id="textOfMessage">
            {{b.text}}
        </a>


    </div>


</div>


