<!-- Here ui_topicCreation -->

<div id="createTopicArea">

    <create-topicadd  data-ng-click="toggleCreateTopicArea()" >
    </create-topicadd>


    <div id="createTopicSection"  data-ng-hide="createTopicadd.status">


        <input id="inputTopicTitle" type="text" placeholder="Topic title" data-ng-model="topicTitleAdded" >
        <input id="inputTopicDescription" type="text" placeholder="Topic description" data-ng-model="topicDescriptionAdded" >
        <input id="inputTopicBackground" type="text" placeholder="Topic background" data-ng-model="topicBackgroundAdded" >
        <input id="inputTopicVoteOptions" type="text" placeholder="Topic vote options without comma" data-ng-model="topicOptionsAdded" >

        <button id="buttonAddTopic" class="buttonsRoleSelection" data-ng-click="addTopic(topicTitleAdded, topicDescriptionAdded, topicBackgroundAdded, topicOptionsAdded)">
            Add Topic
        </button>



    </div>


</div>



<!-- Here ui_topic -->



<div data-ng-repeat="topic in topics | filter:query" topic-section indextopic="{{$index}}" topictopic='topic'>

    <div data-ng-include="'app/templates/pageParts/main/publisher/liveStream/topic.html'"> </div>

</div>