<body>

<!-- Here ui_container -->
<div id="container">

    <!-- Here ui_header -->

    <div id="headerLogin">

        <a
                class="headerTopic"
                ui-sref="role.seekerAndVoter.start">Dia
        </a>

    </div>

    <!-- Here ui_search -->

    <!-- Here ui_main -->
    <div id="mainLogin">

        <!-- Here ui_livestream -->

        <div id="liveStreamAreaAtLogin">

            <button ng-click="fillTopics()">add topics</button>

            <div ui-view="liveStream"></div>


        </div>

        <!-- Here ui_register_login -->

        <div id="registerLogin">

            <div class="container">
                <div class="flat-form">

                    <ul class="tabs">
                        <li>
                            <a
                                    ui-sref-active="active"
                                    ui-sref=".loginTab">Login
                            </a>
                        </li>
                        <li>
                            <a
                                    ui-sref-active="active"
                                    ui-sref=".registerTab">Register
                            </a>
                        </li>
                        <li>
                            <a
                                    ui-sref-active="active"
                                    ui-sref=".resetTab">Reset Password
                            </a>
                        </li>
                    </ul>

                    <div id="login">
                        <div ui-view="loginArea"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>

