<html>

<meta charset="utf-8">


<link rel="stylesheet" href="app.css">


<div>

    <!-- Here ui_container -->
    <div id="container">


        <!-- Here ui_header -->
        <div id="header">
            <h1>Dia </h1>
        </div>

        <!-- Here ui_search -->
        <div id="search">
            <input class="inputBoxSearch" type="text" ng-model="query"/>
            <button class="buttonSearch" ng-click="search()">SEARCH</button>
            {{ query }}
        </div>



        <!-- Here ui_sidebar -->
        <div id="sidebar">
            <p> BLA </p>

            <div id="favoriteTopics"}>

                <div id="droppable2" class="ui-widget-header">
                    <p>Drop here</p>
                </div>

            </div>

            <div id="messagesArea"}>

                <input  type="text" ng-model="profileName"/>
                {{ profileName }}

            </div>
        </div>


        <!-- Here ui_left-->
        <div id="left">


            <!-- Here ui_profile -->
            <div id="profile">
                </br>
                <p ng-repeat="properties in profiles[0]">{{ properties }}</p>


                <div id="roleSelection">
                    <button id="buttonRoleStandard" class="buttonsRoleSelection"> Standard </button>
                    <button id="buttonRolePublisher" class="buttonsRoleSelection"> Publisher</button>
                    <button id="buttonRoleDeveloper" class="buttonsRoleSelection"> Developer </button>
                </div>

            </div>

            <!-- Here ui_nav -->
            <div id="nav">
                <button ng-click="fillTopics()" >add topics</button>
                <button ng-click="fillVoteOptions()" >add voteOptions</button>

            </div>


        </div>




        <!-- Here ui_main -->
        <div id="main">

            <!-- Here ui_livestream -->
            <div id="liveStream">
                <div ui-view="liveStream"></div>
            </div>

            <!-- Here ui_background -->
            <div id="background">

                <box-background>

                </box-background>


                <p>background...</p>


                <h3 id="h33">Feedback on activating draggable:</h3>



                <div drag-drop target-object="droppable2" id="draggable2" class="ui-widget-content">


                </div>

            </div>
        </div>
    </div>
</div>

</html>