<html ng-app="dia">

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>


<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

<link rel="stylesheet" href="app.css">
<script src="my_jquery_functions.js"></script>

<body>


<div ng-controller="simpleController">
    {{fillTopics()}}
    <!-- Here ui_container -->
    <div id="container">


        <!-- Here ui_header -->
        <div id="header">
            <h1>Dia </h1>
        </div>


        <!-- Here ui_sidebar -->
        <div id="sidebar">
            <p> BLA </p>
        </div>


        <!-- Here ui_left-->
        <div id="left">


            <!-- Here ui_profile -->
            <div id="profile">
                </br>
                <p ng-repeat="x in profile | filter:name |orderBy:'uni'">{{ x }}</p>


                <div id="roleSelection">
                    <button id="buttonRoleStandard" class="buttonsRoleSelection"> Standard </button>
                    <button id="buttonRolePublisher" class="buttonsRoleSelection"> Publisher</button>
                    <button id="buttonRoleDeveloper" class="buttonsRoleSelection"> Developer </button>
                </div>

            </div>

            <!-- Here ui_nav -->
            <div id="nav">
                <button ng-click="fillTopics()" >add topics</button>
            </div>
        </div>


        <!-- Here ui_search -->
        <div id="search">
            <input class="inputBoxSearch" type="text" ng-model="query"/>
            <button class="buttonSearch" ng-click="search()">SEARCH</button>
            {{ query }}
        </div>


        <!-- Here ui_main -->
        <div id="main">

            <!-- Here ui_topics -->
            <div id="liveStream">
                <!-- Here ui_topic -->
                <div id="topic">

                    <div ng-repeat="topic in topics | filter:query">

                        <div  id="topicAreaTitle">
                            <p> {{ topic.name }} </p>
                        </div>

                    <!--<img src="img/merkel.jpg" style="width:80px;height:88px;float:right" id="topicImage"> -->


                        <div id="topicAreaBody">
                            <div id="topicAreaLeft">
                                <p id="topicOwner"> {{topic.owner}} : </p>
                                <p>
                                    Hier kommt dann die Beschreibung rein. Die Schriftgröße sollte anpassbar sein.
                                </p>
                            </div>

                            <div id="topicAreaRight">
                                <ul id="topicVoteResults">
                                    <li ng-repeat="a in topic.vts"> {{ a }}</li>
                                </ul>

                            </div>


                        </div>

                        <div id="topicAreaBottom">

                            <comment-arrow ng-click="toggleComment($index)">
                            </comment-arrow>

                            <div id="commentsOfTopic" style="float:top">


                                <div class="comment-{{$index}}">
                                    <div class="draggableTopicsComment"
                                         ng-repeat="a in topic.comments"
                                         comment-section comment='a'
                                    >
                                    </div>

                                </div>
                                <hr class="hrTopic", >
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <!-- Here ui_background -->
            <div id="background">

                <box-background>

                </box-background>


                <p>background...</p>


            </div>
        </div>
    </div>
</div>


<script src="app.js"></script>
<script src="controller.js"></script>
</body>
</html>
