

    <div ng-repeat="topic in topics | filter:query">

        <div  id="topicAreaTitle">
            <p> {{ topic.name }} </p>

        </div>


        <div id="topicAreaBody">

            <div id="topicAreaLeft">

                <div id="topicOwnerBox">
                    <div id="topicOwner" class="topicsElements"><p> {{topic.owner}}</p> </div>
                </div>

                <div id="topicDescriptionBox">
                    <p id="topicDescription" class="topicsElements">
                        Hier kommt dann die Beschreibung rein. Die Schriftgroesse sollte anpassbar sein.
                        Ich hoffe, dass die Texte hier nicht allzu lang werden.
                    </p>
                </div>

            </div>

            <div id="topicAreaRight">

                <div id="topicVoteResultsBox">
                    <ul id="topicVoteResults" class="topicsElements">
                        <li ng-repeat="a in topic.vts"> {{ a }}</li>
                    </ul>
                </div>



                <div id="topicVoteOptionsBox">

                    <div class="voteOption">


                        <div
                                ng-repeat="b in topic.voteOptions"
                                voteoption-section voteoption='b'>
                        </div>

                    </div>
                </div>

            </div>

        </div>

        <div id="topicAreaBottom">

            <div ng-include="'partials/pageParts/liveStream/comment.html'"></div>
        </div>

    </div>

