
<button class=buttonsRoleSelection ng-click="fillTopics()" >add topics</button>
<button class=buttonsRoleSelection ng-click="fillBackgrounds()" style="float:left">add backgrounds</button>
<button class=buttonsRoleSelection ng-click="fillMessages()" style="float:left">add messages</button>

<button class=buttonsRoleSelection ng-click="fillComments()" style="float:left">add comments</button>

<button class=buttonsRoleSelection ng-click="fillVoteOptions()" style="float:left">add voteoptions</button>